@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}

.mobile-menu {
  display: none;
}
.mobile-menu.open {
  display: block;
}
